@model IPOTEKA.UA.Models.Product
@{
    ViewBag.Title = Model.Name + " [Редагування] | IPOTEKA-UA";
    Layout = "~/Views/_BasicLayout.cshtml";
}
<link href="~/Content/Forms.css" rel="stylesheet" />

<div style="width:390px; padding:20px">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ProductID)

        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { placeholder = @Html.DisplayNameFor(m => m.Name) })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div style="text-align: right; margin: auto; margin-bottom: 20px; margin-top: 10px">
            <input id="back" type="submit" name="button" value="Назад" class="btn Back" />
            <input id="save" type="submit" name="button" value="Зберегти" class="btn Ok" />
        </div>
    }
</div>