#Name {
    margin-top: 30px;
    font-size: 30px;
    padding: 10px;
}

/*-------------------- Форма логування START --------------------*/
#FormLogin {
    width: 250px;
    margin: 20px auto;
}

    #FormLogin input[type="text"],
    #FormLogin input[type=password] {
        width: 92%;
        padding: 8px;
    }

    #FormLogin input[type="checkbox"] {
        width: 18px;
        height: 18px;
        vertical-align: top;
    }

    #FormLogin a {
        font-size: 16px;
        vertical-align: middle;
    }

    #FormLogin span {
        font-family: serif;
    }

#MessageError {
    margin-left: 10px;
}

/*-------------------- Форма логування FINISH -------------------*/


/*-------------------- Таблиця START ----------------------------*/
#tbElements {
    border-collapse: collapse;
    /*white-space:nowrap;*/
    border-spacing: 0;
    width: 100%;
    /*color: #ffffff;*/
    text-align: left;
    /*margin-top: 20px;*/
    margin-bottom: 5px;
    font-size: 0.75em;
    font-family: Tahoma;
}

    #tbElements input[type="text"],
    #tbElements select {
        /*margin: 5px auto;*/
        padding: 8px;
        width: 80%;
    }

    #tbElements select {
        width: -webkit-fill-available;
    }

    #tbElements th {
        font-family: Tahoma;
        /*font-weight: 300;*/
        padding-top: 11px;
        font-size: 12px;
        padding-bottom: 11px;
        cursor: auto;
        padding-left: 10px;
        text-align: center;
    }

    #tbElements th, #tbElements td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #tbElements tr {
        background: #eeeeee;
    }

        #tbElements tr:nth-child(even) {
            background-color: #f5f5f5;
        }

    #tbElements td {
        text-align: center;
    }

        #tbElements td:first-child {
            /*text-align: left;*/
        }
/*-------------------- Таблиця FINISH -----------------------*/


/*-------------------- Кнопки START -------------------------*/

.btn {
    border: none;
    padding: 8px 15px 8px 15px; /*ORIGINAL*/
    color: #fff;
    -webkit-border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.7em;
}

    .btn.Ok {
        background-color: #00a569;
    }

        .btn.Ok:hover {
            background-color: #00c47d;
        }

    .btn.Back {
        background-color: #bfbfbf;
    }

        .btn.Back:hover {
            background-color: #cacaca;
        }

    .btn.Delete {
        background-color: #e43b3b;
    }

        .btn.Delete:hover {
            background-color: #e24343;
        }

    .btn.Edit {
        background-color: #ff8d00;
    }

        .btn.Edit:hover {
            background-color: #fe9515;
        }
/*-------------------- Кнопки FINISH ------------------------*/


/*-------------------- Закладки TABS START ------------------*/
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin: 0px 40px;
    width: 730px;
}

    /* Style the buttons inside the tab */
    div.tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

        /* Change background color of buttons on hover */
        div.tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        div.tab button.active {
            background-color: #ccc;
        }

.tabcontent {
    display: none;
    padding: 15px;
    border: 1px solid #ccc;
    border-top: none;
    margin: 0px 40px;
    width: 700px;
    margin-bottom: 20px;
}
/*-------------------- Закладки TABS FINISH -----------------*/


/*-------------------- DIV LoginInfo START ------------------*/
#divLoginInfo {
    font-family: serif;
    width: 60%;
    margin-left: 40px;
    line-height: 1.5;
}

    #divLoginInfo label {
        margin: 0;
    }
/*-------------------- DIV LoginInfo FINISH -----------------*/
