@font-face {
    font-family: 'Circe';
    src: url('../Font/Circe-Light.ttf') format('truetype');
}

html, body {
    height: 100%;
}

body, #footer {
    width: 100%;
}

#body, #header {
    margin: auto;
}

body {
    max-width: 1920px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em; /* 24 px / 16 px = 1.5em*/
}

#container {
    min-height: 100%;
    position: relative;
}

#header {
    width: 90%;
    min-height: 70px;
    padding-left: 10%;
}

#body {
    width: 80%;
    padding-top: 15px;
    font-family: 'Circe';
    font-size: 0.667em; /*16px / 24px = 0.667*/
    padding-bottom: 170px;
    overflow: auto;
}

    #body label {
        margin-left: 20px;
    }

#footer {
    position: absolute;
    bottom: 0;
    height: 170px;
    font-family: Calibri;
    font-size: 0.85em;
}

    #footer li {
        padding: 15px;
    }

    #footer td {
        vertical-align: top;
    }

    #footer a {
        text-decoration: none;
        margin: 25px;
    }

        #footer a:hover {
            padding-bottom: 5px;
            border-bottom: 1px solid;
        }

.main-menu a {
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Circe';
    text-transform: uppercase;
    padding: 0px 12px;
    padding-top: 20px;
    padding-bottom: 14px;
    text-decoration: none;
}

.main-menu .active a {
    padding-bottom: 13px;
    border-bottom: 2px solid #ec6a35;
}

ul {
    padding: 20px;
    list-style: none;
    padding-left: 0;
    margin-top: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

li {
    float: left;
}

h2 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Circe';
    font-weight: bold;
    font-size: 0.75em;
    text-transform: uppercase;
}

h3 {
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: Arial;
    font-weight: inherit;
    font-size: 20px;
    color: gray;
}

.label {
    color: #ffffff;
    color: #0088cc;
    font-size: 16px;
    font-family: 'Circe';
    font-weight: normal;
}

.drop-down-list:focus,
.text-box:focus,
.textarea-box:focus {
    border: 2px solid #ff8d00;
}

/*Styles button*/
.btn {
    border: none;
    padding: 8px 15px 8px 15px; /*ORIGINAL*/
    color: #fff;
    -webkit-border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.7em;
}

    .btn.red {
        background-color: rgba(255, 0, 0, 0.70);
    }

        .btn.red:hover {
            background: rgba(255, 0, 0, 0.95);
        }

    .btn.green {
        background-color: rgba(70, 189, 162, 0.70);
    }

        .btn.green:hover {
            background-color: rgba(70, 189, 162, 0.95);
        }

    .btn.orange {
        background-color: rgba(255, 148, 0, 0.70);
    }

        .btn.orange:hover {
            background: rgba(255, 148, 0, 0.95);
        }

    .btn.blue {
        background-color: rgba(0, 107, 255, 0.70);
    }

        .btn.blue:hover {
            background: rgba(0, 107, 255, 0.95);
        }


.btn-green {
    border: none;
    padding: 8px 15px 8px 15px; /*ORIGINAL*/
    color: #fff;
    -webkit-border-radius: 3px;
    cursor: pointer;
    background-color: #46bda2;
    text-transform: uppercase;
    font-size: 0.7em;
    font-family: 'Circe';
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .btn-green:hover {
        background: #44c883;
        color: #fff;
    }

span {
    color: red;
}

.checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 25px;
    height: 25px;
}


#Calculator {
    background: white;
    border: 1px solid #d8d4d4;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    margin: auto;
    width: 80%;
}

/*-------------------- Блоки на головній сторінці START -----------------------*/
#Elements {
    width: 950px;
    margin: auto;
}

#OptionElement {
    background: #ffffff;
    box-shadow: 0px 0px 15px #b9b9b9;
    width: 270px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    float: left;
    margin: 10px 20px 20px 20px;
    min-height: 300px;
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.p_e {
    font-family: Tahoma;
    font-size: 1.5em;
    margin: 0;
    margin-top: 10px;
}

.p_e1 {
    font-family: Tahoma;
    font-size: 1em;
    color: #218292;
}

    .p_e1 a {
        text-decoration: none;
        color: #46bda2;
        font-size: 1.2em;
    }

        .p_e1 a:hover {
            color: #0088cc;
            padding-bottom: 5px;
            border-bottom: 1px solid;
        }

@keyframes example {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/*-------------------- Параграфи для головної сторінки FINISH -------------------*/


/*-------------------- Список Банків START --------------------------------------*/
.div-bank-element {
    overflow: auto;
    padding: 10px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

.div-param-h, .div-param {
    margin: 5px;
    padding: 10px;
    font-size: 1.25em; /*20/16*/
    font-family: Tahoma;
}

.div-param-h {
    text-transform: uppercase;
}

.div-param {
    background: #5b77a0;
    overflow: auto;
}

.div-param-name {
    color: #4a4a4a;
    width: 100%;
    border-bottom: 2px solid #ec6a35;
    overflow: auto;
    font-size: 1.6em;
    font-weight: bold;
}
/*-------------------- Список Банків FINISH -------------------------------------*/


/*-------------------- Випадаючий елемент меню START ----------------------------*/
.dropdown-content {
    margin-top: 16px;
    margin-left: 5px;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

    .dropdown-content a {
        margin-top: -1px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 10px 10px;
        text-decoration: none;
        display: block;
        text-align: left;
        border-bottom: none !important;
    }

.dropdown:hover .dropdown-content {
    display: block;
}
/*-------------------- Випадаючий елемент меню FINISH ---------------------------*/


/*-------------------- Інформація після відправки START -------------------------*/

#SuccessInfo {
    margin: auto;
    width: 650px;
    background: white;
    box-shadow: 0px 2px 16px 2px #d4d4d4;
    padding-top: 15px;
    padding-bottom: 25px;
    font-size: 1.5em;
}

    #SuccessInfo table {
        width: 100%;
    }

    #SuccessInfo p {
        margin: 0px;
        padding: 10px;
    }

    #SuccessInfo img {
        padding: 5px;
        vertical-align: middle;
        margin: 0px;
        width: 50px;
        margin-left: 30px;
    }

    #SuccessInfo td:first-child {
        text-align: center;
    }

    #SuccessInfo td {
        padding-top: 20px;
    }
/*-------------------- Інформація після відправки FINISH ------------------------*/


/*-------------------- Елементи workflow START --------------------------------*/
#step1, #step2, #step3 {
    width: 200px;
    float: left;
    text-align: center;
    border: 1px solid #d8d4d4;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.667em; /*40/24*/
    margin: 10px 20px 10px 0px;
}

    #step1::after, #step2::after {
        content: '';
        position: absolute;
        width: 42px;
        height: 42px;
        transform: rotate(45deg);
        margin-top: -2px;
        z-index: 1;
        border-top: 1px solid #d8d4d4;
        border-right: 1px solid #d8d4d4;
    }

    #step1::after {
        margin-left: 41px;
    }

    #step2::after {
        margin-left: 39px;
    }

    #step2::before, #step3::before {
        content: '';
        position: absolute;
        width: 42px;
        height: 42px;
        transform: rotate(45deg);
        margin-left: -82px;
        margin-top: -2px;
        background-color: aliceblue;
        border-top: 1px solid #d8d4d4;
        border-right: 1px solid #d8d4d4;
    }

.step-select {
    background-color: #50945c;
    color: white;
}

    .step-select::before, .step-select::after {
        background-color: #50945c;
    }

.step-unselect {
    background-color: white;
}

    .step-unselect::before, .step-unselect::after {
        background-color: white;
    }
/*-------------------- Елементи workflow FINISH -------------------------------*/


/*-------------------- Про Нас START -----------------------------------------*/
#Info img {
    width: 40px;
    height: 40px;
    vertical-align: bottom;
}

#Info1, #Info2 {
    margin-left: 50px;
}

    #Info1 img, #Info2 img {
        width: 30px;
        height: 30px;
    }

    #Info1 p, #Info2 p {
        margin: 5px;
        margin-left: 15px;
    }

#Info2 {
    margin-bottom: 50px;
}
/*-------------------- Про Нас FINISH ----------------------------------------*/


/*-------------------- Пропозиція по Банках START ----------------------------*/
#Proposition {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px #b9b9b9;
    padding: 20px;
}

    #Proposition th {
        font-family: Tahoma;
        padding-top: 11px;
        padding-bottom: 11px;
        text-align: center;
        font-size: 0.8em;
    }

    #Proposition td {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: Tahoma;
        font-size: 1.2em;
    }
/*-------------------- Пропозиція по Банках FINISH ---------------------------*/


@media (max-width:1600px) {
    body {
        font-size: 1.375em; /*22/16*/
    }

    #body {
        font-size: 0.7272em; /*16/22*/
    }

    #footer {
        font-size: 0.9em;
    }

    .div-wfl-element {
        font-size: 1.6363em; /*36/22*/
    }

    .label_c2_h {
        font-size: 2.25em; /*45/20*/
    }

    .ul-c2 {
        font-size: 1.4em; /*28/20*/
    }

    .div-param-h, .div-param {
        font-size: 1.0em; /*18/16*/
    }

    .p_e {
        font-size: 1.35em;
    }

    .p_e1 {
        font-size: 0.85em;
    }

    .main-menu a {
        padding-bottom: 18px;
    }

    .main-menu .active a {
        padding-bottom: 16px;
    }

    .dropdown-content {
        margin-top: 18px;
    }

    #OptionElement {
        width: 240px;
        min-height: 280px;
    }

    #Elements {
        width: 850px;
    }
}

@media (max-width:1366px) {
    body {
        font-size: 1.25em; /*20/16*/
    }

    #body {
        font-size: 0.8em; /*16/20*/
    }

    #footer {
        font-size: 0.9em;
    }

    .div-wfl-element {
        font-size: 1.6em; /*32/20*/
    }

    .label_c2_h {
        font-size: 2.0em; /*40/20*/
    }

    .ul-c2 {
        font-size: 1.2em; /*26/20*/
    }

    .div-param-h, .div-param {
        font-size: 0.9em; /*16/16*/
    }

    .p_e {
        font-size: 1.1em;
    }

    .p_e1 {
        font-size: 0.80em;
    }

    .main-menu a {
        padding-bottom: 20px;
    }

    .main-menu .active a {
        padding-bottom: 19px;
    }
}

@media (max-width:1280px) {
    body {
        font-size: 1.15em; /*18/16*/
    }

    #body {
        font-size: 0.88em; /*16/18*/
    }

    #footer {
        font-size: 1em;
    }

    .div-wfl-element {
        font-size: 1.35em; /*28/18*/
    }

    .label_c2_h {
        font-size: 1.75em; /*35/20*/
    }

    .ul-c2 {
        font-size: 1.0em; /**/
    }

    .div-param-h, .div-param {
        font-size: 0.80em; /*14/16*/
    }

    .p_e {
        font-size: 1.0em;
    }

    .p_e1 {
        font-size: 0.80em;
    }

    .main-menu a {
        padding-bottom: 22px;
    }

    .main-menu .active a {
        padding-bottom: 21px;
    }
}

@media (max-width:1024px) {
    body {
        font-size: 1em; /*16/16*/
    }

    #body {
        font-size: 1em; /*16/18*/
    }

    .div-wfl-element {
        font-size: 1.25em; /*20/16*/
    }

    .div-wfl-element {
        font-size: 1.35em; /*28/18*/
    }

    .label_c2_h {
        font-size: 1.5em; /*35/20*/
    }

    .ul-c2 {
        font-size: 1.0em; /**/
    }

    .div-param-h, .div-param {
        font-size: 0.75em; /*14/16*/
    }
}
