@{
    ViewBag.Title = "Банки";
    Layout = "~/Views/_BasicLayout.cshtml";
}
<div>
    <label>
        Банки з якими ми співпрацюємо:
    </label>
</div>
<table border="0" width="100%">
    <tr>
        <td width="50%">
            @* КРЕДОБАНК *@
            <div class="div-bank-element">
                <div class="div-param-name">
                    <div>
                        <label>
                            ПАТ "КРЕДОБАНК"
                        </label>
                    </div>
                </div>

                <div class="div-param-h">
                    <label>
                        Умови кредитування:
                    </label>
                </div>

                <div class="div-param">
                    <div style="float:left; ">
                        <label>Сума кредиту:</label>
                    </div>
                    <div style="float:right; width:50%">
                        <label>до 85% вартості забезпечення</label>
                    </div>
                </div>

                <div class="div-param">
                    <div style=" float:left;">
                        <label>Строк кредиту:</label>
                    </div>
                    <div style="float:right; width:50%">
                        <label>до 20 років</label>
                    </div>
                </div>

                <div class="div-param">
                    <div style="float:left;">
                        <label>Процентна ставка:</label>
                    </div>
                    <div style="float:right; width:50%">
                        <label>від 16.90% річних</label>
                    </div>
                </div>

                <div class="div-param">
                    <div style="float:left;">
                        <label>Комісія за видачу кредиту:</label>
                    </div>
                    <div style="float:right; width:50%">
                        <label>0.99% від суми кредиту</label>
                    </div>
                </div>

                <div class="div-param">
                    <div style="float:left;">
                        <label>Валюта:</label>
                    </div>
                    <div style="float:right; width:50%">
                        <label>Гривня</label>
                    </div>
                </div>
            </div>
        </td>
        <td>
            @* ОЩАДБАНК *@
            <div class="div-bank-element">
                <div class="div-param-name">
                    <div>
                        <label>
                            ПАТ "ОЩАДБАНК"
                        </label>
                    </div>
                </div>

                <div class="div-param-h">
                    <label>
                        Умови кредитування:
                    </label>
                </div>

                <div class="div-param">
                    <div style="float:left; ">
                        <label>Сума кредиту:</label>
                    </div>
                    <div style="float:right; width:50%">
                        <label>до 70% вартості забезпечення</label>
                    </div>
                </div>

                <div class="div-param">
                    <div style=" float:left;">
                        <label>Строк кредиту:</label>
                    </div>
                    <div style="float:right; width:50%">
                        <label>до 20 років</label>
                    </div>
                </div>

                <div class="div-param">
                    <div style="float:left;">
                        <label>Процентна ставка:</label>
                    </div>
                    <div style="float:right; width:50%">
                        <label>від 20.49% річних</label>
                    </div>
                </div>

                <div class="div-param">
                    <div style="float:left;">
                        <label>Комісія за видачу кредиту:</label>
                    </div>
                    <div style="float:right; width:50%">
                        <label>1.5% від суми кредиту</label>
                    </div>
                </div>

                <div class="div-param">
                    <div style="float:left;">
                        <label>Валюта:</label>
                    </div>
                    <div style="float:right; width:50%">
                        <label>Гривня</label>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            @* ПРИВАТБАНК *@
            <div class="div-bank-element">
                <div class="div-param-name">
                    <div>
                        <label>
                            ПАТ "ПРИВАТБАНК"
                        </label>
                    </div>
                </div>

                <div class="div-param-h">
                    <label>
                        Умови кредитування:
                    </label>
                </div>

                <div class="div-param">
                    <div style="float:left; ">
                        <label>Початковий внесок:</label>
                    </div>
                    <div style="float:right; width:50%">
                        <label>від 25%</label>
                    </div>
                </div>

                <div class="div-param">
                    <div style=" float:left;">
                        <label>Строк кредиту:</label>
                    </div>
                    <div style="float:right; width:50%">
                        <label>до 20 років</label>
                    </div>
                </div>

                <div class="div-param">
                    <div style="float:left;">
                        <label>Процентна ставка:</label>
                    </div>
                    <div style="float:right; width:50%">
                        <label>від 17.9% річних</label>
                    </div>
                </div>

                <div class="div-param">
                    <div style="float:left;">
                        <label>Комісія за видачу кредиту:</label>
                    </div>
                    <div style="float:right; width:50%">
                        <label>0% від суми кредиту</label>
                    </div>
                </div>

                <div class="div-param">
                    <div style="float:left;">
                        <label>Валюта:</label>
                    </div>
                    <div style="float:right; width:50%">
                        <label>Гривня</label>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="div-bank-element">
                <div class="div-param-name">
                    <div>
                        <label>
                            ПАТ "ПРИВАТБАНК"
                        </label>
                    </div>
                </div>

                <div class="div-param-h">
                    <label>
                        Умови кредитування:
                    </label>
                </div>

                <div class="div-param">
                    <div style="float:left; ">
                        <label>Початковий внесок:</label>
                    </div>
                    <div style="float:right; width:50%">
                        <label>від 25%</label>
                    </div>
                </div>

                <div class="div-param">
                    <div style=" float:left;">
                        <label>Строк кредиту:</label>
                    </div>
                    <div style="float:right; width:50%">
                        <label>до 20 років</label>
                    </div>
                </div>

                <div class="div-param">
                    <div style="float:left;">
                        <label>Процентна ставка:</label>
                    </div>
                    <div style="float:right; width:50%">
                        <label>від 17.9% річних</label>
                    </div>
                </div>

                <div class="div-param">
                    <div style="float:left;">
                        <label>Комісія за видачу кредиту:</label>
                    </div>
                    <div style="float:right; width:50%">
                        <label>0% від суми кредиту</label>
                    </div>
                </div>

                <div class="div-param">
                    <div style="float:left;">
                        <label>Валюта:</label>
                    </div>
                    <div style="float:right; width:50%">
                        <label>Гривня</label>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>





