@{
    ViewBag.Title = "Калькулятор | Ipoteka-ua.com";
    Layout = "~/Views/_BasicLayout.cshtml";
}
<link href="~/Content/Slider.css" rel="stylesheet" />

@using (Html.BeginForm("Calculator"))
{
    <div style="width:100%; margin:auto; margin-bottom:20px;">
        <table id="Calculator">
            <tr>
                <td width="50%">
                    <div id="slidecontainer" style="margin:auto;">
                        <p>
                            <label style="margin:auto;">Термін кредитування: <input type="number" id="outputTermin" class="calc termin"> @*<span id="outputTermin"></span>*@ місяців</label>
                        </p>
                        <input type="range" min="12" max="240" value="60" step="1" class="slider" id="Termin" name="slider_Termin">
                    </div>

                </td>
                <td>
                    <div id="slidecontainer" style="margin:auto;">

                        <p>
                            <label style="margin:auto;">Бажана сума кредиту: <input type="text" id="outputSuma" class="calc suma"> грн. @*<span class="price" id="outputSuma"></span>*@</label>
                        </p>
                        <input type="range" min="100000" max="3000000" value="500000" step="1" class="slider" id="Suma">
                    </div>

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="divParam">
                        <table>
                            <tr>
                                <td>
                                    Схема погашення:
                                </td>
                                <td>
                                    <div>
                                        <input id="annuity" type="radio" name="scheme" value="annuity" checked="checked"> Ануїтетна
                                        <input id="classic" type="radio" name="scheme" value="classic"> Класична
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Сума платежів:
                                </td>
                                <td>
                                    <span id="SumaPlatezhiv"></span>
                                </td>
                                <td>
                                    Комісія за видачу:
                                </td>
                                <td>
                                    <span id="KomisiyaZaVydachu"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Сума процентів:
                                </td>
                                <td>
                                    <span id="SumaProcentiv"></span>
                                </td>
                                <td>
                                    Реальна ставка:
                                </td>
                                <td>
                                    <span id="RealRate"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Страховий платіж:
                                </td>
                                <td>
                                    <span id="Strahovka"></span>
                                </td>
                                <td>
                                    Переплата (весь період):
                                </td>
                                <td>
                                    <span id="RealRateFull"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="Schedule">

                    </div>
                </td>
            </tr>
        </table>
    </div>
}


<script src="~/Scripts/Calculations.js"></script>
