@{
    ViewBag.Title = "Про нас";
    Layout = "~/Views/_BasicLayout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
    <div style="font-family:Tahoma">
        <h1><i class="fa fa-info-circle"></i> Інформація</h1>
        <div style="margin-left:50px">
            <table>
                <tr>
                    <td>
                        <i class="fa fa-eye" style="font-size:25px;"></i>
                    </td>
                    <td>
                        <p style="margin:5px; margin-left:15px;">
                            Даний сайт створено з метою висвітлення потенційним позичальникам банків, інформації щодо іпотечного кредитування.
                            Адже давно не секрет, що іпотека - це серйозно та надовго
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-percent" style="font-size:25px;"></i>
                    </td>
                    <td>
                        <p style="margin:5px; margin-left:15px;">
                            Обираючи різні пропозиції банків на нашому сайті, Ви зможете обрати саме той варіант, що задовільнить Вас за всіма вимогами. Також Ви зможете обрати найдешевшу пропозицію на ринку іпотечного кредитування.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-money" style="font-size:25px;"></i>
                    </td>
                    <td>
                        <p style="margin:5px; margin-left:15px;">
                            Усі послуги цього сайту є <b>БЕЗКОШТОВНИМИ!.</b>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <h1><i class="fa fa-lock"></i> Конфіденційність</h1>
        <div style="margin-left:50px; margin-bottom:50px">
            <table>
                <tr>
                    <td>
                        <i class="fa fa-briefcase" style="font-size:25px;"></i>
                    </td>
                    <td>
                        <p style="margin:5px; margin-left:15px;">
                            Ми збираємо лише ті персональні дані, що спеціально та добровільно були надані Вами у процесі заповнення заявки на банківську послугу.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-vcard-o" style="font-size:25px;"></i>
                    </td>
                    <td>
                        <p style="margin:5px; margin-left:15px;">
                            Ми обмежуємся збиранням мінімуму інформації, яка є необхідною для подання Вашої заявки на отримання банківської послуги.                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-users" style="font-size:25px;"></i>
                    </td>
                    <td>
                        <p style="margin:5px; margin-left:15px;">
                            Ми не передаємо персональні дані третім особам, крім випадків передачі інформації у банк, що надає запитувану Вами послугу.                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-handshake-o" style="font-size:25px;"></i>
                    </td>
                    <td>
                        <p style="margin:5px; margin-left:15px;">
                            Метою збору та обробки персональних даних є виконання Вашої заявки на отримання банківської послуги.                        </p>
                    </td>
                </tr>
            </table>

            @*<p style="margin-left:-25px;"><b><i class="fa fa-vcard-o"></i> Персональні дані</b></p>*@

            @*<p style="margin-left:-25px;"><b>Передача персональних даних третім сторонам</b></p>*@

            @*<p style="margin-left:-25px;"><b> Мета збору та обробки персональних даних</b></p>*@

        </div>
    </div>
</div>

