@{
    ViewBag.Title = "Про нас | IPOTEKA-UA";
    Layout = "~/Views/_BasicLayout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div>
    <div style="font-family:Tahoma" id="Info">
        <div id="Info2">

            <h1><img src="~/Image/img_inquiry.png" /> Як це працює ?</h1>

            <table border="0" style="text-align:center;">
                <tr>
                    <td width="30%">
                        <a href="@Url.Action("Index","Ipoteka")">
                            <div class="circle">1</div>
                        </a>
                    </td>
                    <td width="30%">
                        <a href="@Url.Action("Index","Application")">
                            <div class="circle">2</div>
                        </a>
                    </td>
                    <td width="30%">
                        <div class="circle">3</div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px; vertical-align: top">
                        Оберіть Продукт, термін та суму.
                        <br />Перегляньте пропозиції та @Html.ActionLink("подайте", "Index", "Application") заявку.
                    </td>
                    <td style="padding: 20px; vertical-align: top">
                        Заповніть мінімум необхідної інформації.
                    </td>
                    <td style="padding: 20px; vertical-align: top">
                        Очікуйте на дзвінок менеджера, який повідомить Вам деталі.
                    </td>
                </tr>
            </table>

            @*<p style="margin-left:-25px;"><b><i class="fa fa-vcard-o"></i> Персональні дані</b></p>*@

            @*<p style="margin-left:-25px;"><b>Передача персональних даних третім сторонам</b></p>*@

            @*<p style="margin-left:-25px;"><b> Мета збору та обробки персональних даних</b></p>*@

        </div>


        <div id="Info1">

            <h1><img src="~/Image/img_info.png" /> Інформація</h1>

            <table>
                <tr>
                    <td>
                        <img src="~/Image/img_search.png" />
                    </td>
                    <td>
                        <p>
                            Даний сайт створено з метою висвітлення потенційним позичальникам банків, інформації щодо іпотечного кредитування, адже давно не секрет, що іпотека - це серйозно та надовго. @*<i class="fa fa-smile-o"></i>*@
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Image/img_star.png" />
                    </td>
                    <td>
                        <p>
                            Переглядаючи різні пропозиції банків на нашому сайті, Ви зможете обрати саме той варіант, що задовільнить Вас за усіма вимогами. Також Ви зможете обрати найдешевшу пропозицію на ринку іпотечного кредитування.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Image/img_no_cash.png" />
                    </td>
                    <td>
                        <p>
                            Усі послуги цього сайту є <b>БЕЗКОШТОВНИМИ!.</b>
                        </p>
                    </td>
                </tr>
            </table>
        </div>

        <div id="Info2">

            <h1><img src="~/Image/img_6.png" /> Конфіденційність</h1>

            <table>
                <tr>
                    <td>
                        <img src="~/Image/img_add-property.png" />
                    </td>
                    <td>
                        <p>
                            Ми збираємо лише ті персональні дані, що спеціально та добровільно були надані Вами у процесі заповнення заявки на банківську послугу.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Image/img_contact.png" />
                    </td>
                    <td>
                        <p>
                            Ми обмежуємся збиранням мінімуму інформації, яка є необхідною для подання Вашої заявки на отримання банківської послуги.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Image/img_checkuser.png" />
                    </td>
                    <td>
                        <p>
                            Ми не передаємо персональні дані третім особам, крім випадків передачі інформації у банк, що надає запитувану Вами послугу.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Image/img_cash-in-hand.png" />
                    </td>
                    <td>
                        <p>
                            Метою збору та обробки персональних даних є виконання Вашої заявки на отримання банківської послуги.
                        </p>
                    </td>
                </tr>
            </table>

            @*<p style="margin-left:-25px;"><b><i class="fa fa-vcard-o"></i> Персональні дані</b></p>*@

            @*<p style="margin-left:-25px;"><b>Передача персональних даних третім сторонам</b></p>*@

            @*<p style="margin-left:-25px;"><b> Мета збору та обробки персональних даних</b></p>*@

        </div>
    </div>
</div>

