@{
    ViewBag.Title = "Поширені питання";
    Layout = "~/Views/_BasicLayout.cshtml";
}


<div style="width:90%; margin:auto; padding:10px;">
    <div>
        <label style="font-size:1.8em; color:#0088cc; font-weight:500; text-transform:none; margin-left:0px;">Поширенi питання:</label>
    </div>

    <button class="accordion">З якого віку я можу оформити кредит на квартиру?</button>
    <div class="panel">
        <p>Оформити кредит Ви можете з 18 років.</p>
    </div>

    <button class="accordion">Протягом якого часу ухвалюється рішення щодо видачі кредиту?</button>
    <div class="panel">
        <p>Рішення буде ухвалено протягом одного дня.</p>
    </div>

    <button class="accordion">Як довго буде оформлятися кредит?</button>
    <div class="panel">
        <p>Видача кредиту здійснюється протягом 2–3 робочих днів після того, як до банку буде надано необхідні документи продавця з нерухомості та Ваші документи для оформлення кредиту: паспорт, ІПН, довідку про доходи за останні 6 місяців.</p>
    </div>

    <button class="accordion">Чи можу я отримати кредит, якщо працюю неофіційно?</button>
    <div class="panel">
        <p>Ні, оцінюючи можливість видачі Вам кредиту, банк розглядає тільки Ваші офіційно підтверджені доходи.</p>
    </div>

    <button class="accordion">Які додаткові витрати можуть виникнути під час оформлення іпотечного кредиту?</button>
    <div class="panel">
        <p>Крім першого внеску (не менше за 25% від вартості нерухомості), Вам потрібно буде оплатити страховий платіж – до 1% від вартості нерухомості та незалежну експертну оцінку – 150 грн.</p>
    </div>

    <button class="accordion">Чи має бути в мене прописка в регіоні, де я хочу придбати житло?</button>
    <div class="panel">
        <p>Ні, достатньо реєстрації на території України. Регіон реєстрації та регіон купівлі нерухомості можуть бути різними.</p>
    </div>

    <button class="accordion">Чи можна погасити кредит достроково, чи є за це штраф?</button>
    <div class="panel">
        <p>Кредит можна погасити достроково без додаткових комісій.</p>
    </div>

    <button class="accordion">Чи можу я здавати житло, що придбано в кредит?</button>
    <div class="panel">
        <p>Так, Ви зможете здавати нерухомість в оренду, попередньо погодивши це питання з банком.</p>
    </div>

    <button class="accordion">Чи можу я прописувати родичів у квартиру, що придбано в кредит?</button>
    <div class="panel">
        <p> Ви можете прописати родичів у квартиру, попередньо одержавши дозвіл від банку.</p>
    </div>
</div>

@*<div>
        <label>


        Чи можу я відстрочити на кілька місяців виплати за кредитом?
            Кредит погашається щомісяця рівними платежами. Можливості відстрочити платіж нема.

        Що буде з квартирою, якщо я буду не в змозі продовжувати виплати за кредитом?
            Якщо Ви будете не в змозі продовжувати виплати за кредитом, Ви зможете продати нерухомість. Банк безкоштовно допоможе Вам з підготовкою необхідних документів, з пошуком покупця та з супроводом угоди.

         Чи є можливість переоформити кредитний договір на іншу людину?
            Це питання може бути розглянуте банком в індивідуальному порядку. Здавати нерухомість, яку придбано в кредит від ПриватБанку, – це гарний спосіб скоротити суму щомісячної виплати за рахунок часткового погашення боргу коштами, що отримано як дохід від здавання нерухомості в оренду.
        </label>
    </div>*@

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    //alert(acc.length);
    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        }
    }
</script>