<div id="SuccessInfo">
    @*<div style="background: #4a4a4a; color: #ffffff; ">
        <h1 style="padding:10px;">Як це працює ?</h1>
    </div>*@
    <table>
        <tr>
            <td>
                <div class="circle small"><i class="fa fa-check"></i></div>
            </td>
            <td>
                <p>
                    Заявку успішно відправлено!
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <div class="circle small"><i class="fa fa-phone"></i></div>
            </td>
            <td>
                <p>
                    Очікуйте на дзвінок менеджера протягом 30 хв.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <div class="circle small"><i class="fa fa-thumbs-up"></i></div>
            </td>
            <td>
                <p>
                    Дякуємо що скористались нашим сервісом.
                </p>
            </td>
        </tr>
    </table>

    @*<input type="button" value="Видалити" class="btn Delete" onclick="location.href = '@Url.Action("Delete", new {id = u.UserId })'" />*@
</div>
<div style="clear:both; margin:15px auto; width:650px">
    <input type="button" value="ПОВЕРНУТИСЯ НА ГОЛОВНУ" class="btn grey" onclick="location.href = '@Url.Action("Index","Home")'" />
</div>
