<div style="width: 50%; margin: auto; text-align: center;">
    <p style="color: #4291ce; font-size: 40px;">
        Дякуємо що скористались нашим сервісом.
    </p>
    <p style ="color: #42ce5a; font-size: 40px;">
        Заявку успішно відправлено!
    </p>
    <p style="color: #245ca2; font-size: 30px;">
        Очікуйте на дзвінок менеджера протягом 15 хв.
    </p>
    <input type="button" value="ПОВЕРНУТИСЯ НА ГОЛОВНУ" class="btn blue" onclick="location.href = '@Url.Action("Index","Home")'" /> 
    @*<input type="button" value="Видалити" class="btn Delete" onclick="location.href = '@Url.Action("Delete", new {id = u.UserId })'" />*@


</div>
