@{
    ViewBag.Title = "Іпотечне кредитування";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<div>
    <label>Рубрика, в якій Ви маєте можливість вибрати продукт який Вас цікавить, і подати одну заявку в декілька Банків.</label>
</div>
